body {
    margin: 0;
    background: white;
}

#video {
    width: 100vw;
    position: absolute;
    z-index: 5;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#mybutton {
    background: #000;
    z-index: 20;
    position: absolute;
    color: white;
    opacity: 0.7;
}

#aImg {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 10%;
    height: 70%;
    background: white;
    color: black;
}

.slider {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: white;
    opacity: 0.9;
}

.slider-inside {
    display: block;
    margin-left: 0;
    width: 100%;
    margin-right: 0;
}

#zoom-slider {
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%;
}