<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="stylesheet" href="index.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <canvas id="canvas"></canvas>
    <video id="video" autoplay playsinline></video>
    <div id="mybutton">
        <a href="" id="aImg" target="_blank">Take<br>A Photo</a>
    </div>

    <div class="slider">
        <div class="slider-inside">
            <input id="zoom-slider" type="range">
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>