body {
    margin: 0;
    background: white;
}

#video {
    opacity: 0;
    width: 100%;
    position: absolute;
}

#canvas {
    width: 100%;
    height: 100%;
}

#mybutton {
    background: #000;
    z-index: 20;
    position: absolute;
    color: white;
    opacity: 0.8;
}